<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link active" routerLink="/about">About </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/property-binding">Property-Binding</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/event-binding">Event-Binding</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/Twowaybinding">Two-way-Binding</a>
      </li>
      <li class="nav-item  ">
          <a class="nav-link" routerLink="/addReq">Add-Req</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/schedule">Schedule-Int</a>
      </li>
      <li class="nav-item  ">
          <a class="nav-link" routerLink="/user">Add-User</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/product">Product</a>
      </li>
      <li class="nav-item  ">
          <a class="nav-link" routerLink="/parent"> Parent</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/comment"> CommentDetails</a>
      </li>
  

      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Log </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/reactive">Reactive</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/Login">Login</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/ng-switch">Ng-Switch</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/ng-for"> Ng-For</a>
          </li>
          
      </ul>
    </form>
  </div>
</nav>