<div class="col-md-8 offset-2 mt-4 card card-body">
    <form action="" #form ="ngForm" (ngSubmit)="formData(form)">
        <h1 class="text-center" style="background-color: #eeee"> Comment Section </h1>
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" placeholder="enter title" #title="ngModel" ngModel>
            <div class="form-group">
                <textarea name="Desc" id="Desc" cols="30" rows="10" class="form-control" placeholder="Enter Description" #desc="ngModel" ngModel></textarea>
                 <div class="from-group">
                     <button type="submit" class="btn btn-outline-primary float-right"> Post Comment </button>
                 </div>
            </div>
        </div>
    </form>
</div>
