table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;

}
table{
    width:60%;
}
th{
    background-color:  blueviolet;
}
tr:nth-child(even){
    background-color:greenyellow;
}
tr:nth-child(odd){
    background-color: antiquewhite;
}
td:hover{
    background-color: aqua;
}
