table, th, td{
    border:1px solid black;
    /*border-collapse:collapse;*/
    text-align:centre;
    font-size:20px;
    border-radius: 10px;
    margin-left:200px;
    margin-top: 100px;
}
table{
    width:60%;
}
th{
    background-color: burlywood;
}
tr:nth-child(even){
    background-color: aliceblue;
}
tr:nth-child(odd){
    background-color: aqua;
}
td:hover{
    background-color: blueviolet;
}