<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Company-name</param-name>
    <param-value>TYSS</param-value>
  </context-param>
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.ustglobal.servlets.MyFirstServlets</servlet-class>
    <init-param>
      <param-name>batch-name</param-name>
      <param-value>UST_Global</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.ustglobal.servlets.FormServlet</servlet-class>
    <init-param>
      <param-name>batch-name</param-name>
      <param-value>UST</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormServlet2</servlet-name>
    <servlet-class>com.ustglobal.servlets.FormServlet2</servlet-class>
    <init-param>
      <param-name>batch-name</param-name>
      <param-value>UST</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet2</servlet-name>
    <url-pattern>/formtwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.ustglobal.servlets.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forwardServlet</servlet-name>
    <servlet-class>com.ustglobal.servlets.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>com.ustglobal.servlets.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/include</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormForward</servlet-name>
    <servlet-class>com.ustglobal.servlets.FormForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormForward</servlet-name>
    <url-pattern>/formForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.ustglobal.servlets.CreateCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>com.ustglobal.servlets.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormField</servlet-name>
    <servlet-class>com.ustglobal.servlets.FormFieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormField</servlet-name>
    <url-pattern>/database</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Setcontext</servlet-name>
    <servlet-class>com.ustglobal.servlets.SetContextAttributeServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setcontext</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Getcontext</servlet-name>
    <servlet-class>com.ustglobal.servlets.GetContextAttributeServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getcontext</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class> com.ustglobal.servlets.Deletcookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
</web-app>